.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body {
	background: url(../img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* Override B3 .panel adding a subtly transparent background */
panel {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.9);
}

.margin-base-vertical {
	margin: 40px 0;
}