<section class="row" data-ng-controller="SettingsController">
    <div class="signin">
        <div class="container">
            <div class="row centered-form">
                <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                    <div class="panel panel-default" style="margin-top:10px">
                        <div class="panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Edit your profile</h3>
                            </div>
                        </div>

                         <div data-ng-show="error" style="margin-top:10px" class="alert alert-danger col-sm-12">
                            <strong data-ng-bind="error"></strong>
                        </div>

                        <div class="panel-body">
                            <form role="form" data-ng-submit="updateUserProfile()" novalidate>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" data-ng-model="user.firstName">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" data-ng-model="user.lastName">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-12">
                                        <div class="form-group">
                                            <input type="email" name="password" id="password" class="form-control input-sm" data-ng-model="user.email" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="password_confirmation" id="password_confirmation" class="form-control input-sm" data-ng-model="user.username" placeholder="Username">
                                        </div>
                                    </div>

                                    <div style="margin-top: 25px" class="input-group">
                                        <input type="hidden" data-ng-init="credentials.type = 'employer'">
                                    </div>
                                </div>
                                <input type="submit" value="Save Profile" class="btn btn-info btn-block">
                                <div data-ng-show="success" style="margin-top:10px" class="alert alert-success col-md-12">
                                    <strong class="text center">Profile Saved Successfully</strong>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>