<section class="row" data-ng-controller="AuthenticationController">
	<div class="signin">
		<div class="container">    
        <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Employee Sign Up</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body">

                        <div data-ng-show="error" style="margin-top:10px" class="alert alert-danger col-sm-12">
								<strong data-ng-bind="error"></strong>
						</div>
                            
                        <form data-ng-submit="signup()" name="signup_form" class="form-horizontal" role="form" autocomplete="off" novalidate>

                            <div style="margin-bottom: 25px" class="input-group">
                            	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name" ng-minlength=3 ng-maxlength=20 ng-class="{ 'has-error' : signup_form.firstName.$pristine && signup_form.firstName.$invalid }">
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.firstName.$error.required">
						                Your First Name is required.
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.firstName.$error.minlength">
						                Your First Name is required to be at least 3 characters
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.firstName.$error.maxlength">
						                Your First Name cannot be longer than 20 characters
						            </small>
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name" ng-minlength=3 ng-maxlength=20 required ng-class="{ 'has-error' : signup_form.lastName.$pristine && signup_form.lastName.$invalid }">
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.lastName.$error.required">
						                Your Last Name is required.
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.lastName.$error.minlength">
						                Your Last Name is required to be at least 3 characters
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.lastName.$error.maxlength">
						                Your Last Name cannot be longer than 20 characters
						            </small>
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
								<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email Address" ng-minlength=3 ng-maxlength=20 required ng-class="{ 'has-error' : signup_form.email.$pristine && signup_form.email.$invalid }">
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.email.$error.required">
						                Your Email is required.
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.email.$error.minlength">
						                Your Email is required to be at least 3 characters
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.email.$error.maxlength">
						                Your Email cannot be longer than 20 characters
						            </small>
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username" ng-minlength=3 ng-maxlength=20 required ng-class="{ 'has-error' : signup_form.username.$pristine && signup_form.username.$invalid }">
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.username.$error.required">
						                Your Username is required.
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.username.$error.minlength">
						                Your Username is required to be at least 3 characters
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.username.$error.maxlength">
						                Your Username cannot be longer than 20 characters
						            </small>
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock"></i></span>
								<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password" ng-minlength=7 ng-maxlenth=20 required ng-class="{ 'has-error' : signup_form.password.$pristine && signup_form.password.$invalid }">
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.password.$error.required">
						                Your Password is required.
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.password.$error.minlength">
						                Your Password is required to be at least 7 characters
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.password.$error.maxlength">
						                Your Password cannot be longer than 20 characters
						            </small>
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
								<input type="specialization" id="specialization" name="specialization" class="form-control" data-ng-model="credentials.specialization" placeholder="Specialization" ng-minlength=3 ng-maxlength=20 required ng-class="{ 'has-error' : signup_form.specialization.$pristine && signup_form.specialization.$invalid }">
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.specialization.$error.required">
						                Your Specialization is required.
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.specialization.$error.minlength">
						                Your Specialization is required to be at least 7 characters
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.specialization.$error.maxlength">
						                Your Specialization cannot be longer than 20 characters
						            </small>
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
								<input type="Number" id="mobileNumber" name="mobileNumber" class="form-control" data-ng-model="credentials.mobileNumber" placeholder="Mobile Number" ng-minlength=10 ng-maxlength=20 required ng-class="{ 'has-error' : signup_form.mobileNumber.$pristine && signup_form.mobileNumber.$invalid }">
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.mobileNumber.$error.required">
						                Your Mobile Number is required e.g 08084867569
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.mobileNumber.$error.minlength">
						                Your Mobile Number is required to be at least 10 characters
						            </small>
						            <small class="alert alert-danger col-sm-12" ng-show="signup_form.mobileNumber.$error.maxlength">
						                Your Mobile Number cannot be longer than 20 characters
						            </small>
							</div>
							<div style="margin-top: 25px" class="input-group">
								<input type="hidden" data-ng-init="credentials.type = 'jobseeker'">
							</div>
							<div style="margin-top: 25px" class="form-group">
								<div class="col-sm-12 controls">
									<button type="submit" ng-disabled="signup_form.$invalid" class="btn btn-lg btn-success btn-block">Sign up</button>
								</div>
							</div>
                        </form>                        
					</div>  
        		</div>
        	</div> 
	</div>
	</div>
</section>