<section data-ng-controller="JobfindersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="jobfinder.title"></h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/jobfinders/{{jobfinder._id}}/edit" data-ng-if="authentication.user._id == jobfinder.user._id">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();" data-ng-if="authentication.user._id == jobfinder.user._id">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
		<div data-ng-hide="authentication.user._type == 'Employer'">
			<a href="/#!/applyJob" class="btn btn-success">
				Apply for this job
			</a>
		</div>
	</div>
	<div>
		{{jobfinder}}
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="jobfinder.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="jobfinder.user.displayName"></span>
		</em>
	</small>
</section>